  <div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto text-center">
     <form action="/answer" data-turbo="false">
  <input type="text" class="form-label" placeholder="enter a question" name="question">
  <input type="submit"  class="btn btn-primary" value="Ask!">
</form>
    </div>
  </div>
</div>
